# Add to root crontab (sudo crontab -e) Needed while terrad has memory issues. More graceful than systemd's shutdown on MemoryMax

* * * * * /usr/bin/test 95 -le $(/usr/bin/awk '$1=="MemTotal:"{t=$2} $1=="MemAvailable:"{a=$2} END{printf "%d", (t-a)/t*100}' /proc/meminfo) && systemctl restart terrad